<div class="container">

<div class="row justify-content-center">
    <div class="col-sm-10">
        <%= render "shared/errors", obj: @article %>
        <%= form_with(model: @article, local: true) do |f| %>
        <div class="form-group row">
            <%= f.label :title, class: 'col-sm-2 col-form-label' %></br>
            <div class="col-sm-10">
            <%= f.text_field :title, class: 'form-control', placeholder: "Title of Article" %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :description, class: 'col-sm-2 col-form-label' %></br>
            <div class="col-sm-10">
            <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: "Desc for Artilce" %>
            </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :description, class: 'col-sm-2 col-form-label' %></br>
            <% hidden_field_tag "article[category_ids][]", nil %>
            <div class="col-sm-10 mt-2">
                <div class="custom-control custom-checkbox">
                    <% Category.all.each do |f| %>
                        <%= check_box_tag "article[category_ids][]", f.id, @article.category_ids.include?(f.id), id: dom_id(f), class: "checkbox-inline" %>
                        <%= label_tag dom_id(f), f.name %></br>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <%= f.submit class: 'btn btn-outline-success' %>
        </div>
        <% end %>
        
        </div>
        <small class="mb-4"><%= link_to '[ Cancel and return to article listing ]', articles_path  %></small>
    
</div>
</div>